archive_post:<div class="archive-post"><span class="archive-post-time">{{date}}</span><span class="archive-post-title"><a href="../{{md_url}}" class="archive-post-link">{{post_name}}</a></span></div>

archive_post:<div class="archive-post"><span class="archive-post-time">{{date}}</span><span class="archive-post-title"><a href="{{md_url}}" class="archive-post-link">{{post_name}}</a></span></div>
			
page_nav_l:<a class="prev" href="{{left-link}}"><span class="prev-text">Prev</span></a>

page_nav_r:<a class="next" href="{{right-link}}"><span class="next-text">Next</span></a>
