<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="icon" href="/extra/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/extra/css/style.css">
		<title>{{title}}</title>
	</head>
	<body>
		<header id='masthead'>
			<div class='site-header-inner'>
			<h1 class='site-title'> <a href='/' class='logo'>{{site-name}}</a> </h1>
			<nav id="nav-top">
				<ul id="menu-top" class="nav-top-items">
				{{menu}}
				</ul>
			</nav>
			</div>
		</header>
		<div id="content">
			<div id="primary">
				<section id="archive" class="archive">
				<!--下面一段需要循环生成-->
				{{page_nav}} 
				</section>
			</div>
			<!--以下代码也需要判断-->
			<nav class="pagination"> {{nav}} </nav>
			<!--尾部-->
			<footer id="colophon"> 
				<span class="copyright-year">
					&copy;2016-2023 <span class="footer-author">{{site-name}}</span>
					<!--  <span class="power-by">Powered by Python</span> --> 		  
				</span> 
				<span style="display:none"><a href="/sitemap.txt">站点地图</a></span> 
			</footer>
		</div>

		
	</body>
</html>
